# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Debug and error reporting files
*.pid
*.seed
*.pid.lock

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.iml

# Optional npm cache directory
.npm

# Option
